$text-color: #000000;
$bg-color: #8A212E;
$bg-color2: #1E2D37;
$bg-color3: #2d4453;

body {
    min-width: 320px;
    font-family: "Arial", sans‑serif;
    font-size: 12px;
    font-weight: normal;
    color: $text-color;
    background-color: $bg-color3;
    user-select: none;
}

.container {
    width: 271px;
    margin: 0 auto;
    padding: 0 5px;
    background-color: $bg-color2;
}

//3
@media screen and (min-width: 419px) {
    .container {
        width: 409px
    }
}

//4
@media screen and (min-width: 557px) {
    .container {
        width: 547px
    }
}

//5
@media screen and (min-width: 695px) {
    .container {
        width: 685px
    }
}

//6
@media screen and (min-width: 833px) {
    .container {
        width: 823px
    }
}

//7
@media screen and (min-width: 971px) {
    .container {
        width: 961px
    }
}

//8
@media screen and (min-width: 1109px) {
    .container {
        width: 1099px
    }
}

//9
@media screen and (min-width: 1247px) {
    .container {
        width: 1237px
    }
}

//10
@media screen and (min-width: 1385px) {
    .container {
        width: 1375px
    }
}

//11
@media screen and (min-width: 1523px) {
    .container {
        width: 1513px
    }
}

//12
@media screen and (min-width: 1661px) {
    .container {
        width: 1651px
    }
}

//13
@media screen and (min-width: 1799px) {
    .container {
        width: 1789px
    }
}