:root {
  --indentation: 16px;

  --ff-primary: "Arial", sans-serif;

  --clr-primary-400: #2d4453;
  --clr-primary-600: #1e2d37;

  --clr-accent: #8a212e;

  --clr-accent-watched: #159f5c;
  --clr-accent-watching: #ffcd42;
  --clr-accent-not-watch: #dd5246;

  --clr-neutral-100: #ffffff;
  --clr-neutral-900: #000000;

  --fw-regular: 400;
}